//Extends
.card-nueva{
    @extend.card;
    border:blue;


    
}


//Mixins
@mixin tamanio ($anchuraa, $altura){
width:$anchuraa;
height:$altura;
}

.img svg {
    @include tamanio (100px, 100px)
}
